    <div class = "side_header">
      <div class = "user_name">
        <a href = "#">Tom</a>
      </div>
      <div class = "create_btn">
        <a href = "#">チャットを作成する</a>
      </div>
    </div>
    <div class = "rooms">
      <div class = "chatroom-lists">
        <div class = "chatroom-list"><a href = "#">techroom1</a></div>
        <div class = "chatroom-list"><a href = "#">techroom2</a></div>
      </div>
    </div>